.statistic{
  padding: 0 2vw ;

  justify-content: center;
  flex-wrap: wrap;
  display: flex;

  height: max-content;
  gap: 25px;
  align-items: center;
  .statistic-block{
    margin-top: 25px;
    width:30vw;
    height: 30%;

    .statistic-header{
      font-size: 24px;
      font-weight: bold;
    }
  }
}